# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual env
.venv/
venv/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/

# Logs
*.log

# PDF (se non vuoi caricare documenti ufficiali)
*.pdf
